.about-container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}
