.cards-container {
  display: flex;
  margin: 50px 180px;
  gap: 32px;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease, transform 0.2s ease;
}

.link:hover {
  color: #0051a2;
  transform: scale(0.95);
}
