.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 60px;
  padding-right: 30px;

  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.logo-container {
  margin-right: 60px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  margin: 0 15px;
  flex: 1;
}

.search-bar {
  flex: 1;
  min-width: 0;
  max-width: 500px;
  height: 36px;
  border-radius: 20px;
  border: rgba(192, 192, 192) 1px solid;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  padding: 0 15px;
  margin-right: 15px;
  font-size: 16px;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;
  cursor: pointer;
}

.search-icon {
  width: 40px;
}

.nav-items {
  flex: 1;
  max-width: 450px;
  margin-left: 60px;
}

.nav-items > ul {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  font-weight: bold;
  list-style-type: none;
  gap: 20px;
}

.nav-items > ul > li {
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease;
}

/* When hovering over the link itself */
.navLink:hover {
  color: tomato;
}

/* Active link (React Router's NavLink auto adds 'active' class) */
.navLink.active {
  color: tomato;
}

.hero-img {
  width: 100%;
}

.hamburger {
  display: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;
  margin: 0 15px;
}

.hamburger:hover {
  color: tomato;
}

@media (max-width: 768px) {
  .nav-items {
    display: none; /* hide nav by default */
  }

  .hamburger {
    display: block; /* show hamburger on mobile */
  }

  .search-bar-container {
    margin-right: 40px;
  }

  .logo-container {
    margin-right: 20px;
  }
}
